<div id="header">
  <div id="header-left">
    <span id="si">Si</span>
    <span id="voton">Voton</span>
    <span id="Tirana">Tirana</span>
  </div>
  <div id="header-right">
    <span (click)="changeLanguage(Language.Albanian)"
          [ngClass]="{ 'selected' : currentLanguage() === Language.Albanian }">
      SQ
    </span>
    <span>/</span>
    <span (click)="changeLanguage(Language.English)"
          [ngClass]="{ 'selected' : currentLanguage() === Language.English }">
      EN
    </span>
  </div>
</div>
<div id="description">
  {{__('description')}}
</div>

