@use "../../assets/variables/colors" as *;

#header{
  width: 100%;
  padding: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#header-left{
  span{
    font-family: Quantico, sans-serif;
    font-size: 2rem;
    &#si, &#Tirana{
      color: $main-text-color;
    }
    &#voton{
      color: $main-brand-color;
    }
  }
}
#header-right{
  span{
    cursor: pointer;
    font-family: Quantico, sans-serif;
    font-size: 0.5rem;
  }
}
.selected{
  font-weight: 900;
}
#description{
  font-family: Sofia-Sans, sans-serif;
  font-size: 12px; //Overwritten for larger screens
  font-style: italic;
  line-height: 1.2;
}

@media (min-width: 768px) {
  #description{
    font-size: 14px;
    padding: 0 0 0 10px;
  }
}
