@use "../../assets/variables/colors" as *;

#footer{
  margin: 30px 0 10px 0;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;

  #footer-title{
    font-family: Sofia-Sans, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: $main-brand-color;
  }
}
