<!-- MAP -->
<div class="map-container" xmlns="http://www.w3.org/1999/html">
  @if(showCity){
    <img *ngFor="let unit of administrativeUnitsCity"
       [src]="'assets/svg/city/' + unit.svg_filename"
       [alt]=unit.name>
    <svg viewBox="0 0 0.098594 0.082349"
         width="800"
         height="800"
         class="point-viewBox">
      @for(point of coordinates; track point.id){
        @if(point.in_njesia && selectedYear !== Year.Difference){
          <circle [attr.cx]="point.svg_x_njesia"
                  [attr.cy]="point.svg_y_njesia"
                  [attr.r]="0.0005"
                  [attr.fill]="hexcode()"
                  [attr.stroke]="hexcode()"
                  [attr.stroke-width]="0.00005"
                  [attr.fill-opacity]="opacity(point.id)"
                  class="point"
                  (click)="click(point.id)"
          >
            <title>{{point.id}}</title>
          </circle>
        }
        @if(point.in_njesia && selectedYear === Year.Difference){
          <circle [attr.cx]="point.svg_x_njesia"
                  [attr.cy]="point.svg_y_njesia"
                  [attr.r]="0.0005"
                  [attr.fill]="hexcodeDiff(point.id)"
                  stroke="#222222"
                  [attr.stroke-width]="0.00005"
                  [attr.fill-opacity]="opacityDiff()"
                  class="point"
                  (click)="click(point.id)"
          >
            <title>{{point.id}}</title>
          </circle>
        }
      }
    </svg>
  } @else {
  <img *ngFor="let unit of administrativeUnitsMunicipality"
         [src]="'assets/svg/region/' + unit.svg_filename"
         [alt]=unit.name>
  }
  @if(!showCity){
    <svg viewBox="0 0 0.533968 0.445545"
         width="800"
         height="800"
         class="point-viewBox">
      @for(point of coordinates; track point.id){
        @if(!point.in_njesia && selectedYear !== Year.Difference){
          <circle [attr.cx]="point.svg_x_whole"
                  [attr.cy]="point.svg_y_whole"
                  [attr.r]="0.003"
                  [attr.fill]="hexcode()"
                  [attr.stroke]="hexcode()"
                  [attr.stroke-width]="0.0003"
                  [attr.fill-opacity]="opacity(point.id)"
                  class="point"
                  (click)="click(point.id)"
          >
            <title>{{point.id}}</title>
          </circle>
        }
        @if(!point.in_njesia && selectedYear === Year.Difference){
          <circle [attr.cx]="point.svg_x_whole"
                  [attr.cy]="point.svg_y_whole"
                  [attr.r]="0.003"
                  [attr.fill]="hexcodeDiff(point.id)"
                  stroke="#222222"
                  [attr.stroke-width]="0.0003"
                  [attr.fill-opacity]="opacityDiff()"
                  class="point"
                  (click)="click(point.id)"
          >
            <title>{{point.id}}</title>
          </circle>
        }
      }
    </svg>
  }
</div>




<!-- CITY/MUNICIPALITY TOGGLE BUTTON -->
<div id="switch-map-button-container">
  <span>{{ __('city') }}</span>
  <label class="switch">
    <input type="checkbox">
    <span (click)="switchMap()"></span>
  </label>
  <span>{{ __('municipality') }}</span>
</div>





<!-- POINT TABLE -->
<div id="point-table">
  <div id="qv_list">
    <span>Qendrat e votimit: </span><span>{{coordinates[selectedPoint-1].qv_list}}</span>
  </div>
  <div id="addresses">
    <span>Adresat e shenuara ne e-albania per keto qendra votimit: </span><span>{{coordinates[selectedPoint-1].addresses}}</span>
  </div>
  <div id="results-title">
    <span>Rezultatet:</span>
  </div>

</div>




