<div class="map-container">
  @if(showCity){
  <img *ngFor="let unit of administrativeUnitsCity"
       [src]="'assets/svg/city/' + unit.svg_filename"
       [alt]=unit.name>
  } @else {
  <img *ngFor="let unit of administrativeUnitsMunicipality"
         [src]="'assets/svg/region/' + unit.svg_filename"
         [alt]=unit.name>
  }
</div>

<div id="switch-map-button-container">
  <span>City</span>
  <button id="switch-map-button" (click)="switchMap()">
    Switch
  </button>
  <span>Municipality</span>
</div>




