@use "../../assets/variables/colors" as *;

.map-container{
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  margin: 30px auto 0 auto;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .point-viewBox{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    .point{
      cursor: pointer;
    }
  }
}

#map-legend{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#switch-map-button-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  span{
    font-family: Sofia-Sans, sans-serif;
    font-size: 12px;
  }
}

#gradient-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  #gradient{
    width: 50px;
    height: 20px;
    border-width: 1px;
    border-color: $main-text-color;
    border-style: solid;
  }

  span{
    font-family: Sofia-Sans, sans-serif;
    font-size: 12px;
  }
}

#point-table{
  background-color: $background-brand-color;
  padding: 10px 10px 10px 10px;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  font-family: Sofia-Sans, sans-serif;
  font-size: 14px;

  #addresses{
    margin: 12px 0 0 0;
    #address-list{
      font-style: italic;
    }
  }

  #results-title{
    font-weight: 600;
    margin: 10px 0 0 0;
  }

  #results-table{
    width: 100%;
    font-family: Sofia-Sans, sans-serif;

    .results-row{
      width: 100%;

      th{
        align-content: center;
        text-align: left;
        font-weight: normal;

        .party-logo {
          display: block;
          width: 20px;
          height: 20px;
          border-style: solid;
          border-width: 1px;
          border-color: $main-text-color;

        }
      }
    }
  }
}

.full-party-name{
  display: none;
}
.party-acronym{
  display: inline;
}
.selected{
  background-color: $background-selected-color;
}


@media (min-width: 768px) {
  .map-container{
    width: 85%;
    margin: 0 auto 0 auto;
  }

  #switch-map-button-container{
    position: relative;
    top: -65px;

    span{
      font-size: 14px;
    }
  }

  #gradient-container{
    position: relative;
    top: -65px;

    span{
      font-size: 14px;
    }
  }

  #point-table{
    margin: 0;
  }

  .full-party-name{
    display: inline;
  }
  .party-acronym{
    display: none;
  }
}



/*Toggle Button code, Don't touch! */
.switch {
  position: relative;
  width: 28px;
  height: 16px;
  display: inline-block;
}

.switch span {
  position: absolute;
  background-color: $main-brand-color;
  border-radius: 10px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.switch span::before {
  background-color: $background-brand-color;
  border-radius: 50%;
  content: "";
  position: absolute;
  left: 2px;
  bottom: 2px;
  height: 12px;
  width: 12px;
}

input:checked + span::before {
  transform: translateX(12px);
}

.switch input {
  display: none;
}

