.map-container{
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

#switch-map-button-container{
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;

  span{
    font-family: Sofia-Sans, sans-serif;
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  #switch-map-button-container{
    position: relative;
    top: -65px;

    span{
      font-size: 14px;
    }
  }
}


