<!-- MAP -->
<div class="map-container" xmlns="http://www.w3.org/1999/html">
  @if(showCity){
    <img *ngFor="let unit of administrativeUnitsCity"
       [src]="'assets/svg/city/' + unit.svg_filename"
       [alt]=unit.name>
    <svg viewBox="0 0 98.594 82.349"
         width="800"
         height="800"
         preserveAspectRatio="xMidYMid meet"
         class="point-viewBox">
      @for(point of coordinates; track point.id){
        @if(point.in_njesia && selectedYear !== Year.Difference){
          <circle [attr.cx]="point.svg_x_njesia"
                  [attr.cy]="point.svg_y_njesia"
                  [attr.r]="0.5"
                  [attr.fill]="hexcode()"
                  [attr.stroke]="hexcode()"
                  [attr.stroke-width]="0.1"
                  [attr.fill-opacity]="opacity(point.id)"
                  class="point"
                  (click)="click(point.id)"
          >
            <title>{{point.id}}</title>
          </circle>
        }
        @if(point.in_njesia && selectedYear === Year.Difference){
          <circle [attr.cx]="point.svg_x_njesia"
                  [attr.cy]="point.svg_y_njesia"
                  [attr.r]="0.5"
                  [attr.fill]="hexcodeDiff(point.id)"
                  stroke="#222222"
                  [attr.stroke-width]="0.1"
                  [attr.fill-opacity]="opacityDiff()"
                  class="point"
                  (click)="click(point.id)"
          >
            <title>{{point.id}}</title>
          </circle>
        }
      }
      @if(coordinates[selectedPoint - 1].in_njesia){
        <circle [attr.cx]="coordinates[selectedPoint - 1].svg_x_njesia"
                [attr.cy]="coordinates[selectedPoint - 1].svg_y_njesia"
                [attr.r]="0.0009"
                fill=none
                stroke="#00bb99"
                [attr.stroke-width]="0.0003"
                [attr.fill-opacity]="1"
        >
        </circle>
      }
    </svg>
  } @else {
  <img *ngFor="let unit of administrativeUnitsMunicipality"
         [src]="'assets/svg/region/' + unit.svg_filename"
         [alt]=unit.name>
  }
  @if(!showCity){
    <svg viewBox="0 0 533.968 445.545"
         width="800"
         height="800"
         preserveAspectRatio="xMidYMid meet"
         class="point-viewBox">
      @for(point of coordinates; track point.id){
        @if(!point.in_njesia && selectedYear !== Year.Difference){
          <circle [attr.cx]="point.svg_x_whole"
                  [attr.cy]="point.svg_y_whole"
                  [attr.r]="3"
                  [attr.fill]="hexcode()"
                  [attr.stroke]="hexcode()"
                  [attr.stroke-width]="0.6"
                  [attr.fill-opacity]="opacity(point.id)"
                  class="point"
                  (click)="click(point.id)"
          >
            <title>{{point.id}}</title>
          </circle>
        }
        @if(!point.in_njesia && selectedYear === Year.Difference){
          <circle [attr.cx]="point.svg_x_whole"
                  [attr.cy]="point.svg_y_whole"
                  [attr.r]="3"
                  [attr.fill]="hexcodeDiff(point.id)"
                  stroke="#222222"
                  [attr.stroke-width]="0.6"
                  [attr.fill-opacity]="opacityDiff()"
                  class="point"
                  (click)="click(point.id)"
          >
            <title>{{point.id}}</title>
          </circle>
        }
      }
      @if(!coordinates[selectedPoint - 1].in_njesia){
        <circle [attr.cx]="coordinates[selectedPoint - 1].svg_x_whole"
                [attr.cy]="coordinates[selectedPoint - 1].svg_y_whole"
                [attr.r]="0.0055"
                fill=none
                stroke="#00bb99"
                [attr.stroke-width]="0.002"
                [attr.fill-opacity]="1"
                class="point"
        >
        </circle>
      }
    </svg>
  }
</div>



<div id="map-legend">
<!-- CITY/MUNICIPALITY TOGGLE BUTTON -->
<div id="switch-map-button-container">
  <span>{{ __('city') }}</span>
  <label class="switch">
    <input type="checkbox">
    <span (click)="switchMap()"></span>
  </label>
  <span>{{ __('municipality') }}</span>
</div>




<!-- GRADIENT -->
@if(selectedYear !== Year.Difference){
  <div id="gradient-container">
    <span>{{parties[activeMap() - 1].min_percentage}}%</span>
    <div [style.background]="'linear-gradient(to right, white, ' + hexcode() + ')'" id="gradient">
    </div>
    <span>{{parties[activeMap() - 1].max_percentage}}%</span>
  </div>
}
</div>




<!-- POINT TABLE -->
@if(selectedPoint > 0){
<div id="point-table">
  <div id="qv_list">
    <span>{{__('ballot-boxes')}}</span><span>{{coordinates[selectedPoint-1].qv_list}}</span>
  </div>
  <div id="results-title">
    <span>{{__('results')}}</span>
  </div>
  <table id="results-table">
    @for (i of activeIndices(); track i){
      <tr class="results-row"
          [ngClass]="{ 'selected' : i+1 === selected_2023 || i+1 === selected_2025 || i+1 === selected_diff}">
        <th class="results-logo">
          <img [src]="parties[i].logo_file" class="party-logo" [alt]="partyName(i)">
        </th>
        <th class="results-name">
          <span class="full-party-name">{{parties[i].party}}</span>
          <span class="party-acronym">{{parties[i].acronym}}</span>
        </th>
        <th class="results-percentage">
          @if(selectedYear !== Year.Difference){
            {{partyPercentage(i)}}%
          }
        </th>
        <th class="results-votes">
          @if(selectedYear !== Year.Difference){
            {{partyVotes(i)}}{{__('votes')}}
          } @else {
            {{formatVotes(partyVotes(i))}}%
          }
        </th>
      </tr>
    }
  </table>
  <div id="addresses">
    <span>{{__('polling-locations')}}</span>
    <span id="address-list">{{coordinates[selectedPoint-1].addresses}}</span>
  </div>
</div>
}


