<div id="main">




  <!-- YEAR SELECTION -->
  <div id="year-options">
    <button class="year-button"
            (click)="changeYear(Year.Year2023)"
            [ngClass]="{ 'year-button-selected' : selectedYear === Year.Year2023 }"
    >
      {{ Year.Year2023 }}
    </button>
    <button class="year-button"
            (click)="changeYear(Year.Year2025)"
            [ngClass]="{ 'year-button-selected' : selectedYear === Year.Year2025 }"
    >
      2025
    </button>
    <button class="year-button"
            (click)="changeYear(Year.Difference)"
            [ngClass]="{ 'year-button-selected' : selectedYear === Year.Difference }"
    >
      +/-
    </button>
  </div>




  <!-- POLITICAL SUBJECT SELECTION -->
  <div id="party-options">
    @if(selectedYear === Year.Year2023){
      <div class="party-button"
           *ngFor="let party of parties | slice:0:6"
           (click)="select_2023(party.id)"
      >
        <img [src]="party.logo_file" class="party-logo" [alt]="party.candidate">
        <span class="party-name" [ngClass]="{ selected : (party.id === selected_2023) }">{{ party.candidate }}</span>
      </div>
    }

    @if(selectedYear === Year.Year2025){
      @if(smallParties){
        <div class="party-button"
             *ngFor="let party of parties | slice:6:18"
             (click)="select_2025(party.id)"
        >
          <img [src]="party.logo_file" class="party-logo" [alt]="party.party">
          <span class="party-name" [ngClass]="{ selected : (party.id === selected_2025) }">{{ party.party }}</span>
        </div>
      } @else {
        <div class="party-button"
             *ngFor="let party of main_parties"
             (click)="select_2025(party.id)"
        >
          <img [src]="party.logo_file" class="party-logo" [alt]="party.party">
          <span class="party-name" [ngClass]="{ selected : (party.id === selected_2025) }">{{ party.party }}</span>
        </div>
      }
    }

    @if(selectedYear === Year.Difference){
      <div class="party-button"
           *ngFor="let party of parties | slice:17"
           (click)="select_diff(party.id)"
      >
        <img [src]="party.logo_file" class="party-logo" [alt]="party.party">
        <span class="party-name" [ngClass]="{ selected : (party.id === selected_diff) }">{{ party.party }}</span>
      </div>
    }
  </div>
  @if(selectedYear === Year.Year2025){
    <div id="small-parties-section">
      @if(smallParties){
        <span class="small-parties-button" (click)="hideSmallParties()">{{ __('small-parties-hide') }}</span>
      } @else {
        <span class="small-parties-button" (click)="showSmallParties()">{{ __('small-parties-show') }}</span>
      }
    </div>
  }





  <!-- MAPS -->
  <app-map
    [selected_2023] = "selected_2023"
    [selected_2025] = "selected_2025"
    [selected_diff] = "selected_diff"
  ></app-map>
</div>
